[Desktop Entry]
Type=Application
Categories=Qt;X-SuSE-YaST;X-SuSE-YaST-Net_advanced;

X-KDE-ModuleType=Library
X-KDE-RootOnly=true
X-KDE-HasReadOnlyMode=true
X-KDE-Library=yast2
X-SuSE-YaST-Call=inetd

X-SuSE-YaST-Group=Net_advanced
X-SuSE-YaST-Argument=
X-SuSE-YaST-RootOnly=true
X-SuSE-YaST-AutoInst=all
X-SuSE-YaST-Geometry=
X-SuSE-YaST-SortKey=
X-SuSE-YaST-AutoInstResource=
X-SuSE-YaST-AutoInstClonable=true

Icon=inetd
Exec=/sbin/yast2 inetd 

Name=Network Services (inetd)
GenericName=Configure Network Services (inetd)
Name[cs]=Síťové služby (inetd)
GenericName[cs]=Konfigurovat síťové služby (inetd)
Name[de]=Netzwerkdienste (inetd)
GenericName[de]=Netzwerkdienste konfigurieren (inetd)
Name[es]=Servicios de red (inetd)
GenericName[es]=Configurar servicios de red (inetd)
Name[hu]=Hálózati szolgáltatások (inetd)
GenericName[hu]=Hálózati szolgáltatások beállítása (inetd)
Name[it]=Servizi di rete (inetd)
GenericName[it]=Configurazione dei servizi di rete (inetd)
Name[ko]=네트워크 서비스
GenericName[ko]=네트워크 서비스들 설정(inetd)
Name[nl]=Netwerk services (inetd)
GenericName[nl]=Configureer netwerk services (inetd)
Name[pt]=Serviços de rede (inetd)
GenericName[pt]=Configure os serviços de rede (inetd)
Name[sk]=Sieťové služby (inetd)
GenericName[sk]=Konfigurácia sieťových služieb (inetd)
Name[sv]=Nätverkstjänster (inetd)
GenericName[sv]=Ställ in nätverkstjänster (inetd)
Name[el]=Υπηρεσίες Δικτύου (inetd)
GenericName[el]=Ρυθμίστε τις Υπηρεσίες Δικτύου (inetd)
Name[fr]=Services réseau (inetd)
GenericName[fr]=Configurer les services réseau (inetd)
Name[ja]=ネットワーク・サービス (inetd)
GenericName[ja]=ネットワーク・サービスの設定 (inetd)
Name[lt]=Tinklo paslaugos (inetd)
Name[sl]=Mrežne storitve (inetd)
GenericName[sl]=Nastavi Mrežne Storitve (inetd)
Name[tr]=Ağ servisleri (inetd)
